.logo{
    width: 350px;
    margin: 0;
}
.main-nav{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li{
    margin-left: 30px;
}
.main-nav li a{
    color: rgb(90, 90, 90);
}
.main-nav li a:hover{
    color: #0bd;
}
.page-header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(243, 236, 226);
    margin-bottom: 10px;
}
.wrapper{
    padding: 0 4%;
}

/*モバイル版
------------------------------------*/
@media screen and (max-width: 600px){
    .logo{
        width: 300px;
    }
    .main-nav{
        font-size: 1rem;
        margin-top: 0px;
        padding-right: 30px;
    }
    .main-nav li{
        margin: 0 10px;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }
}